.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  height: 400px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.first-column {
  color: white;
  background-color: #2146C7;
}

.second-column {
  color: white;
  background-color: #2146C7;
}

.movable-item {
  color: white;
  border-radius: 10px;
  background-color: #FF6464;
  height: 100px;
  width: 170px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}